<!-- HEADER -->
<header>
	<!-- TOP HEADER -->
	<div id="top-header">
		<div class="container">
			<ul class="header-links pull-left">
				<li><a href="#"><i class="fa fa-phone"></i> +54 3404503301</a></li>
				<li><a href="#"><i class="fa fa-envelope-o"></i> contacto@tesysweb.com</a></li>
				<li><a href="#"><i class="fa fa-map-marker"></i> Lisandro de la Torre 254</a></li>
			</ul>
			<ul class="header-links pull-right">
				<li><a routerLink="/login"><i class="fa fa-user-o"></i> Mi Cuenta</a></li>
			</ul>
		</div>
	</div>
	<!-- /TOP HEADER -->

	<!-- MAIN HEADER -->
	<div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-2">
					<div class="header-logo">
						<a href="#" class="logo">
							<img src="./assets//img/logo.png" alt="">
						</a>
					</div>
				</div>
				<!-- /LOGO -->

				<!-- SEARCH BAR -->
				<div class="col-md-7">
					<div class="header-search">
						<form>
							<select class="input-select">
								<option value="0">Todas las categorias</option>
								<option value="1" *ngFor="let g of categories">{{g.nombre}}</option>
							</select>
							<input class="input" placeholder="Buscar producto...">
							<button class="search-btn">Buscar</button>
						</form>
					</div>
				</div>
				<!-- /SEARCH BAR -->

				<!-- ACCOUNT -->
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- Wishlist -->
						<div>
							<a href="#">
								<i class="fa fa-heart-o"></i>
								<span>Favoritos</span>
								<div class="qty">0</div>
							</a>
						</div>
						<!-- /Wishlist -->

						<!-- Cart -->
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
								<i class="fa fa-shopping-cart"></i>
								<span>Mi Carrito</span>
								<div class="qty">{{cartData.data[0].numInCart!=0 ? cartData.data.length : 0}}</div>
							</a>
							<div class="cart-dropdown">
								<div class="cart-list" *ngIf="cartData.data[0].numInCart!=0">
									<div class="product-widget" *ngFor="let c of cartData.data; let i=index">
										<div class="product-img">
											<img [src]="c.product?.image" alt="{{c.product?.name}}" width="20px">
										</div>
										<div class="product-body">
											<h3 class="product-name"><a href="#">{{c.product?.name}}</a></h3>
											<h4 class="product-price"><span class="qty">{{c.numInCart}} x</span>{{
												c.product?.price | currency: "ARS" }}</h4>
										</div>
										<button class="delete" (click)="cartService.DeleteProductFromCart(i)"><i
												class="fa fa-close"></i></button>
									</div>
								</div>
								<div class="cart-summary">
									<small>{{cartData.data[0].numInCart!=0 ? cartData.data.length : 0}} Item(s)
										cargados</small>
									<h5>TOTAL: {{cartTotal | currency:'ARS'}}</h5>
								</div>
								<div class="cart-btns">
									<a routerLink="/cart">Ver Carrito</a>
									<a routerLink="/checkout">Finalizar <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- /Cart -->

						<!-- Menu Toogle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Menu</span>
							</a>
						</div>
						<!-- /Menu Toogle -->
					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<ul class="main-nav nav py-3">
				<li class="active"><a routerLink="/">Inicio</a></li>
				<li><a href="#">Categorías</a>
					<ul class="categories">
						<li><a href="#">sass</a>
							<ul>
								<li><a href="#">less</a>
								</li>
								<li><a href="#">sass</a>
								</li>
							</ul>
						</li>
						<li><a href="#">less</a>
						</li>
						
					</ul>
				</li>

				<li><a href="#">Vender</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->